* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    
}
.tituloindex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.tituloDashboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.contenedorUnico {
    margin-top: 50px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 50px;
    padding-bottom: 2%;
    padding-top: 2%;
    border: 5px black solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

}